.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px; /* Adds spacing between elements */
    background: var(--ion-color-light);
    border: 1px solid;
    border-radius: 8px;
  }
  
  .search-input {
    border: 1px solid;
    border-radius: 8px;
    --padding-start: 10px;
    flex: 0 0 70%; /* Occupies 50% of the container width */
  }
  
  .search-select {
    border: 1px solid;
    border-radius: 8px;
    --padding-start: 10px;
    --padding-end: 10px;
    flex: 0 0 35%; /* Occupies 35% of the container width */
  }
  
  .search-button {
    flex: 1; /* Occupies the remaining width */
  }
  